.footer{
    height: 134px;
    max-width: 1440px;
    margin: auto; 
    background-color: var(--com-color);
    position: relative;
    margin-top: 282px;
}

.footer-item{
    max-width: 1200px;
    margin: auto;
    height: 134px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
    gap: 42px;
    color: #fff;
}

.footer-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-line {
    border: 1px solid #fff;
    height: 79px;

}

.footer-p {
    font-size: 16px;
    font-weight: 400;
}